body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  2%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.start{
  width: 10vw;
  height: 3vw;
  border-radius: 10px;
  background-color: rgb(31, 185, 185);
  color: rgb(254, 254, 254);
  font-size: 20px;
  border: none;
  cursor: pointer;
}




@media (min-width:768px) {

  #level-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    margin:  5%;
    color: #FEF2BF;
    margin-top: 20vw;
  }
  
  .start{
    width: 30vw;
  height: 10vw;
  font-size: 40px;
  }

  .container {
    margin-top: 10vw;
    width: 95%;
  }


  .btn {
    margin: 25px;
    display: inline-block;
    height: 350px;
    width: 350px;
    border: 10px solid black;
    border-radius: 20%;
  }
}